{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 90,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react$",
    "^react/(.*)$",
    "antd/(.*)$",
    "^antd$",
    "^[a-zA-Z]",
    "^@/",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
