@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


:root {
  --bg: #ffffff;
  --red: #E60027;
  --light-grey: #F7F7F7;
  --select-grey: #EDEDED;
  --dark-grey: #DBDBDB;
  --disabled-grey: #B3B3B3;
  --blue: #048BA8;
  --orange: #F18F01;
  --light-orange: #FCBA5B;
  --green: #99C24D
  
}

body {
  margin: 0;
  font-family: 'Jost'
}

.app {
  
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  padding-left: 4em;
  padding-right: 4em

}


.dash {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23DBDBDBFF' stroke-width='5' stroke-dasharray='2%2c 20' stroke-dashoffset='18' stroke-linecap='square'/%3e%3c/svg%3e");
}